<div class="navbar-top mat-white-bg">
<br/>
<div class="logo">
    <img class="logo-icon" src="/assets/images/orgLogos/default.png">
    <span class="logo-text" style="color:#7a7a7a!important;font-size:30px;font-family:Roboto">com</span><span class="logo-text" style="color:#7a7a7a!important;font-size:30px;font-weight:bold;font-family:Roboto">go</span>

</div>
<!-- <div *ngIf="logoPath != '/assets/images/orgLogos/default.png'">
    <img src="{{logoPath}}">
    </div> -->

    <div class="buttons">

        <button  mat-icon-button class="toggle-sidebar-folded "
                (click)="toggleSidebarFolded()" fxHide.lt-lg>
            <mat-icon style="color:black">menu</mat-icon>
        </button>

        <button mat-icon-button class="toggle-sidebar-opened "
                (click)="toggleSidebarOpened()" fxHide.gt-md>
            <mat-icon class="secondary-text ">arrow_back</mat-icon>
        </button>

    </div>

</div>


<div class="navbar-scroll-container" comgoPerfectScrollbar [comgoPerfectScrollbarOptions]="{suppressScrollX: true}">

    <div class="user mat-white-bg" fxLayout="column">
        <!-- <div *ngIf="userType == 'Organization'" class="h3 username">{{orgName}}</div>
        <div *ngIf="userType == 'Private User'" class="h3 username">{{username}}</div>
        <div *ngIf="userType == 'admin'" class="h3 username">{{'Admin' | translate}}</div> -->
        <div class="h5 email ">{{blank}}</div>
        <input hidden type="file" (change)="savePhoto($event)" #fileInput/>
        <div *ngIf="userType == 'Organization' || userType == 'admin'" class="avatar-container" [ngClass]="comgoConfig.layout.navbar.background" (click)="fileInput.click()">
            <img class="avatar" src="{{profileImageUrl}}{{orgName}}" onerror="this.src='assets/images/avatars/Velazquez.jpg'">
        </div>
        <div *ngIf="userType == 'Private User'" class="avatar-container" [ngClass]="comgoConfig.layout.navbar.background" (click)="fileInput.click()">
            <img class="avatar" src="{{profileImageUrl}}{{username}}" onerror="this.src='assets/images/avatars/Velazquez.jpg'">
        </div>
    </div>

    <div class="navbar-content">
        <comgo-navigation layout="vertical"></comgo-navigation>
    </div>

</div>
