<div id="orders" class="page-layout carded fullwidth inner-scroll">
    <ngx-loading [show]="loading1" [config]="{ backdropBorderRadius: '14px' }"></ngx-loading>
    <!-- TOP BACKGROUND -->
    <div class="top-bg mat-accent-900-bg"></div>
    <!-- / TOP BACKGROUND -->

    <!-- CENTER -->
    <div class="center">

        <!-- HEADER -->
        <div class="header mat-accent-900-bg" fxLayout="column" fxLayoutAlign="center center" fxLayout.gt-xs="row" fxLayoutAlign.gt-xs="space-between center">

            <!-- APP TITLE -->
            <div class="logo" fxLayout="row" fxLayoutAlign="start center">
                <mat-icon class="logo-icon mr-16" [@animate]="{value:'*',params:{delay:'50ms',scale:'0.2'}}">
                    shopping_basket
                </mat-icon>
                <div fxLayout="column" fxLayoutAlign="start start" [@animate]="{value:'*',params:{delay:'100ms',x:'-25px'}}">
                    <div class="h2">
                        {{ 'View Projects' | translate }}
                    </div>
                </div>
            </div>
            <!-- / APP TITLE -->

            <!-- SEARCH -->
            <div class="search-input-wrapper ml-sm-16" fxFlex="1 0 auto" fxLayout="row" fxLayoutAlign="start center">
                <label for="search" class="mr-8">
                    <mat-icon class="secondary-text">search</mat-icon>
                </label>
                <mat-form-field>
                    <input matInput id="publishprojectSearch" (keyup)="applyFilter($event.target.value)" placeholder="{{ 'Search' | translate }}">
                </mat-form-field>
            </div>
            <!-- / SEARCH -->
            <button type="button" (click)="startTour()">
                <mat-icon _ngcontent-c41="" class="secondary-text s-35 mat-icon material-icons mat-icon-no-color mb-12"
                    role="img" aria-hidden="true">help</mat-icon>
            </button>
        </div>
        <!-- / HEADER -->

        <!-- CONTENT CARD -->
        <div class="content-card mat-white-bg" *ngIf="projectData.length == 0">
            <div style="margin-top:18%">
                <div fxLayoutAlign="center start">
                    <span class="icon-name secondary-text mt-8">{{'No Data Found' | translate}}</span>
                </div>
                <div fxLayoutAlign="center center">
                    <mat-icon _ngcontent-c56="" class="secondary-text s-48 mat-icon material-icons" role="img" aria-hidden="true">warning</mat-icon>
                </div>
            </div>
        </div>
        <!-- <div class="content-card mat-white-bg" *ngIf="projectData.length !== 0"> -->
            <div class="mat-elevation-z8">
            <mat-table *ngIf="projectData.length !== 0" class="orders-table" #table [dataSource]="dataSource" matSort [@animateStagger]="{value:'50'}" ComGoPerfectScrollbar>

                <!-- ProjectType Column -->
                <ng-container matColumnDef="projectType">
                    <mat-header-cell *matHeaderCellDef mat-sort-header>{{'Type' | translate}}</mat-header-cell>
                    <mat-cell *matCellDef="let data">
                        <mat-icon (click)="showProjectDetails(data)" _ngcontent-c20="" *ngIf="data.projectType==='Educational'" matTooltip="{{data.projectType | translate}}"
                            matTooltipPosition="above">school</mat-icon>
                        <mat-icon (click)="showProjectDetails(data)" _ngcontent-c20="" *ngIf="data.projectType==='Children'" matTooltip="{{data.projectType | translate}}"
                            matTooltipPosition="above">child_care</mat-icon>
                        <mat-icon (click)="showProjectDetails(data)" *ngIf="data.projectType==='Health Care'" matTooltip="{{data.projectType | translate}}" matTooltipPosition="above">local_hospital</mat-icon>
                        <mat-icon (click)="showProjectDetails(data)" *ngIf="data.projectType==='Homeless'" matTooltip="{{data.projectType | translate}}" matTooltipPosition="above">sentiment_very_dissatisfied</mat-icon>
                        <mat-icon (click)="showProjectDetails(data)" *ngIf="data.projectType==='Research'" matTooltip="{{data.projectType | translate}}" matTooltipPosition="above">search</mat-icon>
                        <mat-icon (click)="showProjectDetails(data)" *ngIf="data.projectType==='Sports'" matTooltip="{{data.projectType | translate}}" matTooltipPosition="above">pool</mat-icon>
                        <mat-icon (click)="showProjectDetails(data)" *ngIf="data.projectType==='Arts and Culture'" matTooltip="{{data.projectType | translate}}"
                            matTooltipPosition="above">palette</mat-icon>
                        <mat-icon (click)="showProjectDetails(data)" *ngIf="data.projectType==='Environmental'" matTooltip="{{data.projectType | translate}}"
                            matTooltipPosition="above">local_florist</mat-icon>
                        <mat-icon (click)="showProjectDetails(data)" *ngIf="data.projectType==='Agricultural'" matTooltip="{{data.projectType | translate}}"
                            matTooltipPosition="above">nature_people</mat-icon>
                        <mat-icon (click)="showProjectDetails(data)" *ngIf="data.projectType==='Human Rights'" matTooltip="{{data.projectType | translate}}"
                            matTooltipPosition="above">nature_people</mat-icon>
                        <mat-icon (click)="showProjectDetails(data)" *ngIf="data.projectType==='Infrastructure'" matTooltip="{{data.projectType | translate}}"
                            matTooltipPosition="above">nature_people</mat-icon>
                        <mat-icon (click)="showProjectDetails(data)" *ngIf="data.projectType==='Employment'" matTooltip="{{data.projectType | translate}}" matTooltipPosition="above">nature_people</mat-icon>
                        <mat-icon (click)="showProjectDetails(data)" *ngIf="data.projectType==='Microfinance'" matTooltip="{{data.projectType | translate}}"
                            matTooltipPosition="above">nature_people</mat-icon>
                        <mat-icon (click)="showProjectDetails(data)" *ngIf="data.projectType==='Entrepreneurship'" matTooltip="{{data.projectType | translate}}"
                            matTooltipPosition="above">nature_people</mat-icon>
                        <mat-icon (click)="showProjectDetails(data)" *ngIf="data.projectType==='Equal Gender'" matTooltip="{{data.projectType | translate}}"
                            matTooltipPosition="above">nature_people</mat-icon>
                    </mat-cell>
                </ng-container>

                <!-- ProjectName Column -->
                <ng-container matColumnDef="projectName">
                    <mat-header-cell *matHeaderCellDef mat-sort-header>{{'Name' | translate}}</mat-header-cell>
                    <mat-cell *matCellDef="let data">
                        <p class="text-truncate" (click)="showProjectDetails(data)" matTooltip="{{data.projectName}}" matTooltipPosition="above">{{data.projectName}}</p>
                    </mat-cell>
                </ng-container>

                <ng-container matColumnDef="SDG">
                    <mat-header-cell *matHeaderCellDef mat-sort-header>{{'SDG' | translate}}</mat-header-cell>
                    <mat-cell *matCellDef="let data">
                        <img class="p-4" (mouseenter)="showSDGDialogue(data)" matTooltip="{{data.SDG[0].SDGType}}" matTooltipPosition="above" src="{{sdgUrl}}{{data.SDG[0].SDGType}}{{imageExtenstion}}"
                            width="33%" height="33%" [@animate]="{value:'*',params:{delay:'50ms',scale:'0.2'}}"> ->

                    </mat-cell>
                </ng-container>
                <ng-container matColumnDef="projectBudget">
                    <mat-header-cell *matHeaderCellDef mat-sort-header fxHide fxShow.gt-md style="display:flex !important;
                        justify-content:flex-end!important;">{{'Project Budget' | translate}}</mat-header-cell>
                    <mat-cell *matCellDef="let data" fxHide fxShow.gt-md style="display:flex !important;
                        justify-content:flex-end!important;">
                        <span class="text-truncate" matTooltip="{{data.projectBudget | number : '1.2-2'}} {{data.currency}}" matTooltipPosition="above">
                            {{data.projectBudget | number : '1.2-2'}}&nbsp;{{data.currency}}&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                        </span>
                    </mat-cell>
                </ng-container>
                <!-- FundGoal Column -->
                <ng-container matColumnDef="fundGoal">
                    <mat-header-cell *matHeaderCellDef mat-sort-header fxHide fxShow.gt-md style="display:flex !important;
                    justify-content:flex-end!important;">{{'Fund Goal' | translate}}</mat-header-cell>
                    <mat-cell *matCellDef="let data" fxHide fxShow.gt-md style="display:flex !important;
                    justify-content:flex-end!important;">
                        <span class="text-truncate" matTooltip="{{data.fundGoal | number : '1.2-2'}} {{data.currency}}" matTooltipPosition="above">
                            {{data.fundGoal | number : '1.2-2'}}&nbsp;{{data.currency}}&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                        </span>
                    </mat-cell>
                </ng-container>

                <!-- FundRaised Column -->
                <ng-container matColumnDef="fundRaised">
                    <mat-header-cell *matHeaderCellDef mat-sort-header fxHide fxShow.gt-md style="display:flex !important;
                justify-content:flex-end!important;">{{'Fund Raised' | translate}}</mat-header-cell>
                    <mat-cell *matCellDef="let data" fxHide fxShow.gt-md style="display:flex !important;
                justify-content:flex-end!important;">
                        <a (click)="goToDonor(data)" class="text-truncate" matTooltip="{{data.fundRaised | number : '1.2-2'}} {{data.currency}}" matTooltipPosition="above">
                            {{data.fundRaised | number : '1.2-2'}}&nbsp;{{data.currency}}
                        </a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;

                    </mat-cell>
                </ng-container>

                <!-- Status Column -->
                <ng-container matColumnDef="status">
                    <mat-header-cell *matHeaderCellDef mat-sort-header>{{'Status' | translate}}</mat-header-cell>
                    <mat-cell *matCellDef="let data">
                        <p class="price text-truncate" (click)="showProjectDetails(data)" matTooltip="{{data.status | translate}}" matTooltipPosition="above">
                                <span [translate]="data.translate">{{data.status}}</span>
                        </p>
                    </mat-cell>
                </ng-container>
                <!-- Operation Column -->
                <ng-container matColumnDef="operation">
                    <mat-header-cell *matHeaderCellDef mat-sort-header fxHide fxShow.gt-sm>{{'Operation' | translate}}</mat-header-cell>
                    <mat-cell *matCellDef="let data" fxHide fxShow.gt-sm>
                        <button mat-icon-button id="publishprojectProjectDetails" (click)="showProjectDetails(data)" matTooltip="{{'Show Project Details'|translate}}" matTooltipPosition="above">
                            <mat-icon class="secondary-text s-20 mat-icon material-icons" role="img" aria-hidden="true">remove_red_eye</mat-icon>
                        </button>
                    </mat-cell>
                </ng-container>

                <mat-header-row *matHeaderRowDef="displayedColumns; sticky:true"></mat-header-row>

                <mat-row *matRowDef="let data; columns: displayedColumns;" class="order">
                </mat-row>
            </mat-table>
            <mat-paginator
            #MatPaginator [length]="projectData.length"
            [pageIndex]="0" [pageSize]="5"></mat-paginator>
            </div>
        <!-- </div> -->
        <!-- / CONTENT CARD -->
    </div>
    <!-- / CENTER -->
</div>