<div id="orders" class="page-layout carded fullwidth">
  <ngx-loading [show]="loading1" [config]="{ backdropBorderRadius: '14px' }"></ngx-loading>
  <!-- TOP BACKGROUND -->
  <div class="top-bg mat-accent-900-bg"></div>
  <!-- / TOP BACKGROUND -->

  <!-- CENTER -->
  <div class="center">

      <!-- HEADER -->
      <div class="header mat-accent-900-bg" fxLayout="column" fxLayoutAlign="center center" fxLayout.gt-xs="row" fxLayoutAlign.gt-xs="space-between center">
          <!-- APP TITLE -->
          <div class="logo" fxLayout="row" fxLayoutAlign="start center">
              <mat-icon class="logo-icon mr-16" [@animate]="{value:'*',params:{delay:'50ms',scale:'0.2'}}">
                  shopping_basket
              </mat-icon>
              <div fxLayout="column" fxLayoutAlign="start start" [@animate]="{value:'*',params:{delay:'100ms',x:'-25px'}}">
                  <div class="h2">
                      {{'Registered Users'|translate}}
                  </div>
              </div>
          </div>
          <!-- / APP TITLE -->

          <!-- SEARCH -->
          &nbsp;&nbsp;&nbsp;&nbsp;
          <div class="search-input-wrapper mx-14 m-md-0" fxFlex="1 0 auto" fxLayout="row" fxLayoutAlign="start center">
              <label for="search" class="mr-8">
                  <mat-icon class="secondary-text">search</mat-icon>
              </label>
              <mat-form-field floatLabel="never" fxFlex="1 0 auto" class="mr-80">
                  <input id="viewusersSearch" matInput (keyup)="applyFilter($event.target.value)" placeholder="{{'Search' | translate}}">
              </mat-form-field>
          </div>
          <!-- <button type="button" (click)="startTour()">
              <mat-icon _ngcontent-c41="" class="secondary-text s-25 mat-icon material-icons mat-icon-no-color" role="img" aria-hidden="true">help</mat-icon>
          </button> -->
      </div>
      <!-- / HEADER -->

      <!-- CONTENT CARD -->
      <div class="content-card mat-white-bg" *ngIf="dataOcomgors.length == 0">
          <div style="margin-top:18%">
              <div fxLayoutAlign="center start">
                  <span class="icon-name secondary-text mt-8">{{'No Data Found' | translate}}</span>
              </div>
              <div fxLayoutAlign="center center">
                  <mat-icon _ngcontent-c56="" class="secondary-text s-48 mat-icon material-icons" role="img" aria-hidden="true">warning</mat-icon>
              </div>
          </div>
      </div>
      <!-- <div class="content-card mat-white-bg" *ngIf="dataOcomgors.length !== 0"> -->
          <div class="mat-elevation-z8">
          <mat-table *ngIf="dataOcomgors.length !== 0" class="orders-table" #table [dataSource]="dataSource" matSort [@animateStagger]="{value:'50'}" comgoPerfectScrollbar>

              <!-- User Name Column -->
              <ng-container matColumnDef="username">
                  <mat-header-cell *matHeaderCellDef mat-sort-header>{{'User Name'|translate}}</mat-header-cell>
                  <mat-cell *matCellDef="let data">
                      <p class="text-truncate" matTooltip="{{data.username}}" matTooltipPosition="above">{{data.username}}</p>
                  </mat-cell>
              </ng-container>
             
              <!-- Role Column -->
              <ng-container matColumnDef="role">
                  <mat-header-cell *matHeaderCellDef mat-sort-header='role'>{{'Role'|translate}}</mat-header-cell>
                  <mat-cell *matCellDef="let data">
                      <p class="text-truncate" matTooltip="{{data.role}}" matTooltipPosition="above">
                          {{data.role}}
                      </p>
                  </mat-cell>
              </ng-container>

              <!-- Operation Column -->
              <ng-container matColumnDef="icons">
                  <mat-header-cell *matHeaderCellDef mat-sort-header>{{'Operations'|translate}}</mat-header-cell>
                  <mat-cell *matCellDef="let data">
                      <button *ngIf="userType == 'admin'" mat-icon-button matTooltip="{{'View Profile'|translate}}" matTooltipPosition="above" (click)="viewUserProfile(data)">
                          <mat-icon class="secondary-text s-24 mat-icon material-icons" role="img" aria-hidden="true">account_box</mat-icon>
                      </button>
                      <button mat-icon-button matTooltip="{{'Deactivate User'|translate}}" matTooltipPosition="above" *ngIf="userType == 'admin'"
                      (click)="changeUserStatus(data,'deactivate')">
                      <mat-icon class="secondary-text s-20 mat-icon material-icons" role="img" aria-hidden="true">cancel</mat-icon>
                  </button>
                  </mat-cell>
              </ng-container>

              <mat-header-row *matHeaderRowDef="displayedColumns; sticky:true"></mat-header-row>

              <mat-row *matRowDef="let data; columns: displayedColumns;" class="order">
              </mat-row>
          </mat-table>
          <mat-paginator #MatPaginator [length]="dataOcomgors.length" [pageIndex]="0" [pageSize]="5"></mat-paginator>
          <!-- <mat-paginator #paginator [length]="dataSource.filteredData.length" [pageIndex]="0" [pageSize]="10" [pageSizeOptions]="[5, 10, 25, 100]">
            </mat-paginator> -->

      </div>
      <!-- / CONTENT CARD -->
  </div>
  <!-- / CENTER -->
  <hr>
    <footer>
            <br/>
            <br/>
            <p style="text-align: center;">Copyright © 2020</p>
            <br/>
          <br/>
          </footer>
</div>