<div id="forgot-password" class="inner-scroll" fxLayout="row" fxLayoutAlign="start">
    <ngx-loading [show]="loading1" [config]="{ backdropBorderRadius: '14px' }"></ngx-loading>
    <div id="forgot-password-intro" fxFlex fxHide fxShow.gt-xs>
        <br/>
        <br/>
        <br/>
        <br/>
        <div class="row">
            <div fxFlexOffset="15" fxFlex="30"><img style="width: 200px" src="assets/images/logos/comgologo.png"></div>
            <div fxFlex="55" style="margin-top:10%">
            <span style="color:#7a7a7a!important;font-size:50px;font-family:Roboto">com</span><span style="color:#7a7a7a!important;font-size:50px;font-weight:bold;font-family:Roboto">go</span>
            </div>
        </div>
    </div>

    <div id="forgot-password-form-wrapper" comgoPerfectScrollbar [@animate]="{value:'*',params:{delay:'300ms',x:'100%'}}">

        <div id="forgot-password-form">
            <div class="comgologo" fxHide.gt-xs>
                <!-- <div>
                    <img class="styleLogo" src="assets/images/logos/ComgoLogo-Navbar.png">
                </div> -->
                <div fxFlexOffset="50">
                    <img style="width: 100px" src="assets/images/logos/ComgoLogo-Navbar.png">
                    <div>
                    <span style="color:#7a7a7a!important;font-size:30px;font-family:Roboto">com</span><span style="color:#7a7a7a!important;font-weight:bold;font-size:30px;font-family:Roboto">go
                        </span>
                    </div>
                    </div>
                <br/>
            </div>

            <div class="title">{{'RECOVER YOUR PASSWORD' | translate}}</div>

            <form name="forgoPasswordForm" [formGroup]="forgotPasswordForm" (ngSubmit)="validateUser(forgotPasswordForm.value)" novalidate>

                <mat-form-field>
                    <input #username maxlength="80" matInput placeholder="{{'User Name' | translate}}" formControlName="username" required>
                    <mat-hint align="end">{{username.value.length}} / 80</mat-hint>
                    <mat-error *ngIf="forgotPasswordForm.get('username').hasError('required') && forgotPasswordForm.get('username').touched">
                        User Name is required!
                    </mat-error>
                    <mat-error *ngIf="forgotPasswordForm.get('username').hasError('pattern') && forgotPasswordForm.get('username').touched">
                        Enter valid User Name!
                    </mat-error>
                </mat-form-field>
                <button mat-raised-button class="submit-button" color="accent" aria-label="SEND RESET LINK" [disabled]="forgotPasswordForm.invalid">
                    {{'SEND RESET LINK' | translate}}
                </button>

            </form>

            <div class="login" fxLayout="row" fxLayoutAlign="center center">
                <a class="link" [routerLink]="'/pages/auth/login-2'">{{'Go back to login' | translate}}</a>
            </div>

        </div>
    </div>
</div>