mat-header-cell{
  font-weight: bold !important;
  font-size:13px !important;
}
footer {
  border-top: 1px solid rgba(0, 0, 0, 0.08);
  background-color: whitesmoke
}
.tickcolor {
    color: blue !important;
}
.search-input-wrapper {
    max-width: 780px;
}
th.mat-sort-header-sorted {
    color: black;
  }
  .example-radio-group {
    display: flex;
    flex-direction: column;
    margin: 15px 0;
  }
  
  .example-radio-button {
    margin: 5px;
  }