<div id="forms" class="page-layout simple fullwidth" fxLayout="column">
    <ngx-loading [show]="loading1" [config]="{ backdropBorderRadius: '14px' }"></ngx-loading>

    <!-- HEADER -->
    <div class="header mat-accent-900-bg" fxLayout="row" fxLayoutAlign="space-between center">
        <!-- APP TITLE -->
        <div fxLayout="row" fxLayoutAlign="start center">
            <button mat-icon-button class="mr-0 mr-sm-16" (click)="goBack()">
                <mat-icon>arrow_back</mat-icon>
            </button>
            <!-- <div class="product-image mr-8 mr-sm-16" [@animate]="{value:'*',params:{delay:'50ms',scale:'0.2'}}">
            <img *ngIf="product.images[0]" [src]="product.images[0].url">
            <img *ngIf="!product.images[0]" [src]="'assets/images/ecommerce/product-image-placeholder.png'">
        </div> -->

            <div fxLayout="column" fxLayoutAlign="start start" [@animate]="{value:'*',params:{delay:'100ms',x:'-25px'}}">
                <div class="h2">
                    {{'Update User Details' | translate}}
                </div>
            </div>
        </div>
    </div>
    <!-- / HEADER -->

    <!-- CONTENT -->
    <div class="content p-24">
        <div *ngIf="userType == 'Private User'" fxLayout="column" fxLayoutAlign="center center" fxLayout.gt-md="row">
            <form class="mat-white-bg mat-elevation-z4 p-24 mr-24 mb-24" fxLayout="column"
                fxLayoutAlign="start" fxFlex="1 0 auto" name="form" [formGroup]="form" (ngSubmit)="updateUserDetails(form.value)">
                <div fxLayout="row" fxLayoutAlign="start center" fxFlex="1 0 auto">
                    <mat-form-field fxFlex="50" id="firstName">
                        <input #firstName matInput maxlength="80" placeholder="{{'First Name' | translate}}" formControlName="firstName">
                        <mat-hint align="end">{{firstName.value.length}} / 80</mat-hint>
                        <mat-error *ngIf="form.get('firstName').hasError('pattern') && form.get('firstName').touched">
                            {{'First Name is Invalid!' | translate}}
                        </mat-error>
                    </mat-form-field>

                    <mat-form-field fxFlex="50" id="firstSurname">
                        <input #firstSurname maxlength="80" matInput placeholder="{{'First Surname' | translate}}" formControlName="firstSurname">
                        <mat-hint align="end">{{firstSurname.value.length}} / 80</mat-hint>
                        <mat-error *ngIf="form.get('firstSurname').hasError('pattern') && form.get('firstSurname').touched">
                            {{'First Surname is Invalid!' | translate}}
                        </mat-error>
                    </mat-form-field>
                </div>
                <div fxLayout="row" fxLayoutAlign="start center" fxFlex="1 0 auto">
                    <mat-form-field fxFlex="50" id="secondSurname">
                        <input #secondSurname maxlength="80" matInput placeholder="{{'Second Surname' | translate}}" formControlName="secondSurname">
                        <!-- <mat-error *ngIf="form.get('secondSurname').hasError('required') && form.get('secondSurname').touched">
                            Second surname is required!
                        </mat-error> -->
                        <mat-hint align="end">{{secondSurname.value.length}} / 80</mat-hint>
                        
                        <mat-error *ngIf="form.get('secondSurname').hasError('pattern') && form.get('secondSurname').touched">
                            Second Surname is invalid!
                        </mat-error>
                    </mat-form-field>
                    <mat-form-field fxFlex="50">
                        <input #username id="username" matInput placeholder="{{'User Name'| translate}}" formControlName="username" disabled>
                        <mat-error *ngIf="form.get('username').hasError('required') && form.get('username').touched">
                            User Name is required!
                        </mat-error>
                        <mat-error *ngIf="form.get('username').hasError('pattern') && form.get('username').touched">
                            Enter valid User Name!
                        </mat-error>
                    </mat-form-field>
                </div>
                <div fxLayout="row" fxLayoutAlign="start center" fxFlex="1 0 auto">
                        <mat-form-field fxFlex="50">
                                <input type="email" id="email" matInput placeholder="{{'Email' | translate}}" formControlName="email" required disabled>
        
                            </mat-form-field>
                            <mat-form-field fxFlex="50">
                                    <input #username id="idNumber" matInput placeholder="{{'Id Number'| translate}}" formControlName="idNumber" disabled>
                                </mat-form-field>
                                </div>
                                <div fxLayout="row" fxLayoutAlign="start center" fxFlex="1 0 auto">
                                        <mat-form-field fxFlex="30" id="country">
                                                <mat-select  (click)="changedCountryName()" placeholder="{{'Country' | translate}} *" (selectionChange)="changeCountry($event)" formControlName="country">
                                                    <ngx-mat-select-search matInput placeholder="Search" (keyup)="filterListCountry($event.target.value)"></ngx-mat-select-search>
                                                    <mat-option *ngFor="let data of getCountry" [value]=data.countryName>
                                                        {{data.countryName}}
                                                    </mat-option>
                                                </mat-select>
                                            </mat-form-field>
                                    <mat-form-field fxFlex="30">
                                        <mat-select id="countryCode" matTooltip="{{'Country Code' | translate}} *" matTooltipPosition="above" placeholder="{{'Country Code' | translate}}" formControlName ="countryCode" disabled>
                                               
                                                <!-- <ngx-mat-select-search [formControl] ="countryCode"></ngx-mat-select-search> -->
                                            <mat-option  *ngFor="let countryCode of getCountryCodes" [value]='countryCode.code'>
                                              {{countryCode.code}}
                                            </mat-option>
                                          </mat-select>
                                    </mat-form-field>
                                    <mat-form-field fxFlex="40">
                                <input #phone id="phone" matInput placeholder="Contact Number" formControlName="phone" disabled>
                            </mat-form-field>
                    <!-- <mat-form-field id="idNumber" fxFlex="50">
                        <input #idNumber matInput placeholder="Employee Number" formControlName="idNumber">
                    </mat-form-field> -->
                </div>
                <div fxLayout="row" fxLayoutAlign="start center" fxFlex="1 0 auto">
                        <mat-form-field fxFlex="100">
                                <input matInput id="address" placeholder="{{'Address'| translate}}" formControlName="address" disabled>
                            </mat-form-field>
                </div>
                <div fxLayout="row" fxLayoutAlign="start center" fxFlex="1 0 auto">
                        <mat-form-field fxFlex="50">
                                <input matInput id="zipCode" placeholder="{{'Zip Code'| translate}}" formControlName="zipCode" disabled>
                            </mat-form-field>
                            <mat-form-field fxFlex="50">
                                    <input matInput id="city" placeholder="{{'City'| translate}}" formControlName="city" disabled>
                                </mat-form-field>
                </div>
                <br/>
                <div fxLayout="row" fxLayoutAlign="start center">
                    <button mat-raised-button type="button" color="warn" (click)="cancel()">
                      {{'Cancel' | translate}}
                    </button>&nbsp;&nbsp;&nbsp;
                    <button mat-raised-button type="submit" [disabled]="!form.valid" color="accent-900-bg">
                      {{'Save' | translate}}
                    </button>
                  </div>
            </form>
        </div>
        <div *ngIf="userType == 'Organization'" fxLayout="column" fxLayoutAlign="center center" fxLayout.gt-md="row">
            <form class="mat-white-bg mat-elevation-z4 p-24 mr-24 mb-24" fxLayout="column"
                fxLayoutAlign="start" fxFlex="1 0 auto" name="form" [formGroup]="form" (ngSubmit)="updateUserDetails(form.value)">
                <div fxLayout="row" fxLayoutAlign="start center" fxFlex="1 0 auto">
                    <mat-form-field fxFlex="50">
                                <input id="orgName" maxlength="40" matInput placeholder="{{'Organization *'| translate}}" formControlName="orgName">
                            </mat-form-field>
                    <mat-form-field fxFlex="50">
                        <input id="username" matInput placeholder="{{'User Name'| translate}}" formControlName="username" disabled>
                    </mat-form-field>
                </div>
                <div fxLayout="row" fxLayoutAlign="start center" fxFlex="1 0 auto">
                    <mat-form-field fxFlex="50">
                            <input type="email" id="email" matInput placeholder="{{'Email' | translate}}" formControlName="email" required disabled>
    
                        </mat-form-field>
                        <mat-form-field fxFlex="50">
                                <input #username id="idNumber" matInput placeholder="{{'Id Number'| translate}}" formControlName="idNumber" disabled>
                            </mat-form-field>
                            </div>
                            <div fxLayout="row" fxLayoutAlign="start center" fxFlex="1 0 auto">
                                <mat-form-field fxFlex="30" id="country">
                                        <mat-select  (click)="changedCountryName()" placeholder="{{'Country' | translate}} *" (selectionChange)="changeCountry($event)" formControlName="country">
                                            <ngx-mat-select-search matInput placeholder="Search" (keyup)="filterListCountry($event.target.value)"></ngx-mat-select-search>
                                            <mat-option *ngFor="let data of getCountry" [value]=data.countryName>
                                                {{data.countryName}}
                                            </mat-option>
                                        </mat-select>
                                    </mat-form-field>
                            <mat-form-field fxFlex="30">
                                <mat-select id="countryCode" matTooltip="{{'Country Code' | translate}} *" matTooltipPosition="above" placeholder="{{'Country Code' | translate}}" formControlName ="countryCode" disabled>
                                       
                                        <!-- <ngx-mat-select-search [formControl] ="countryCode"></ngx-mat-select-search> -->
                                    <mat-option  *ngFor="let countryCode of getCountryCodes" [value]='countryCode.code'>
                                      {{countryCode.code}}
                                    </mat-option>
                                  </mat-select>
                            </mat-form-field>
                            <mat-form-field fxFlex="40">
                        <input #phone id="phone" matInput placeholder="Contact Number" formControlName="phone" disabled>
                    </mat-form-field>
            <!-- <mat-form-field id="idNumber" fxFlex="50">
                <input #idNumber matInput placeholder="Employee Number" formControlName="idNumber">
            </mat-form-field> -->
        </div>
                <br/>
                <mat-form-field>
                    <input matInput placeholder="{{'Domain Name' | translate}} *" formControlName="domainName">
                    <mat-error *ngIf="form.get('domainName').hasError('required') && form.get('domainName').touched">
                        Domain Name is required!
                    </mat-error>
                    <mat-error *ngIf="form.get('domainName').hasError('pattern') && form.get('domainName').touched">
                        {{'Enter valid Domain Name!'|translate}}
                    </mat-error>
                </mat-form-field>
            <br/>
                <div fxLayout="row" fxLayoutAlign="start center">
                    <button mat-raised-button type="button" color="warn" (click)="cancel()">
                      {{'Cancel' | translate}}
                    </button>&nbsp;&nbsp;&nbsp;
                    <button mat-raised-button type="submit" [disabled]="!form.valid" color="accent-900-bg">
                      {{'Save' | translate}}
                    </button>
                  </div>
            </form>
        </div>

    </div>
    <!-- / CONTENT -->
    <hr>
    <footer>
            <br/>
            <br/>
            <p style="text-align: center;">Copyright © 2020</p>
            <br/>
          <br/>
          </footer>
</div>