mat-header-cell{
  font-weight: bold !important;
  font-size:13px !important;
}
footer {
  border-top: 1px solid rgba(0, 0, 0, 0.08);
  background-color: whitesmoke
}
.search-input-wrapper {
    max-width: 780px;
}
.mat-sort-header-container {
  align-items: center;
}
 
table {
  width: 100%;
}