// Import comgo core library
@import "@comgo/scss/core";

// -----------------------------------------------------------------------------------------------------
// @ Multiple material themes example
// -----------------------------------------------------------------------------------------------------

// Define the Material palettes
$yellow-theme-primary: mat-palette($mat-comgodark);
$yellow-theme-accent: mat-palette($mat-yellow, 600, 400, 700);
$yellow-theme-warn: mat-palette($mat-red);

// Create the Material theme object
$yellow-theme: mat-light-theme($yellow-theme-primary, $yellow-theme-accent, $yellow-theme-warn);

// Add ".yellow-theme" class to the body to activate this theme
.yellow-theme {

    // Generate the Angular Material theme
    @include angular-material-theme($yellow-theme);

    // Generate the comgo color classes with the new colors...
    @include generatecomgoColorClasses($yellow-theme-primary, $yellow-theme-accent, $yellow-theme-warn);
}

.pageBackground{
 background-color: #FFFFFF;
}
.cursorPointer{
    cursor: pointer;
}
.mat-accent-900-bg{
    background-color:#5b606f!important;
}
