<div id="login" class="inner-scroll" fxLayout="row" fxLayoutAlign="start">
    <ngx-loading [show]="loading1" [config]="{ backdropBorderRadius: '14px' }"></ngx-loading>
    <div id="login-intro" fxFlex fxHide fxShow.gt-xs>
        <br/>
        <br/>
        <br/>
        <br/>
        <div class="row">
            <div fxFlexOffset="15" fxFlex="30"><img style="width: 200px" src="assets/images/logos/comgologo.png"></div>
            <div fxFlex="55" style="margin-top:10%">
            <span style="color:#7a7a7a!important;font-size:50px;font-family:Roboto">com</span><span style="color:#7a7a7a!important;font-size:50px;font-weight:bold;font-family:Roboto">go</span>
            </div>
        </div>
        <div ><span style="color:#7a7a7a!important;font-size:25px;">{{'Welcome to ComGo, please create an account or log in to start tracking your impact' | translate}}</span></div>
       <!-- <p>comgo</p> -->
    </div>
  <div id="login-form-wrapper" fusePerfectScrollbar [@animate]="{value:'*',params:{delay:'300ms',x:'100%'}}">
  
    <div id="login-form">
  
        <div class="comgologo" fxHide.gt-xs>
                <div fxFlexOffset="50">
                        <img style="width: 100px" src="assets/images/logos/ComgoLogo-Navbar.png">
                        <div>
                        <span style="color:#7a7a7a!important;font-size:30px;font-family:Roboto">com</span><span style="color:#7a7a7a!important;font-weight:bold;font-size:30px;font-family:Roboto">go
                            </span>
                        </div>
                        </div>
                        <!-- <div style="margin-top:10%">
                            <span style="color:#7a7a7a!important;font-family:Roboto">com</span><span style="color:#7a7a7a!important;font-weight:bold;font-family:Roboto">go</span>
                            </div> -->
                        <!-- <div fxFlex="55" style="margin-top:10%">
                            <span style="color:#7a7a7a!important;font-size:10px;font-family:Roboto">com</span><span style="color:#7a7a7a!important;font-size:10px;font-weight:bold;font-family:Roboto">go</span>
                            </div> -->
        </div>
        <div>
        <div fxFlex="60" class="title">{{'Find Workspace' | translate}}</div>
        </div>
        <form name="loginForm" [formGroup]="loginForm" (ngSubmit)="findWorkspace(loginForm.value)" novalidate>
          <mat-form-field>
              <input matInput placeholder="{{'User Name' | translate}}" formControlName="username" required>
              <mat-error *ngIf="formErrors.username.required">
                  User Name is required
              </mat-error>
          </mat-form-field>
          <button id="loginButton" mat-raised-button color="accent-900-bg" class="submit-button" aria-label="LOGIN" [disabled]="loginForm.invalid">
              Confirm
          </button>
      </form>
    </div>
  </div>
  </div>